<!doctype html>
<html class="home blog no-js" lang="en">

<head>
    <title>The Foreigner´s House</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="home sticky-menu sidebar-off" id="top">

    <header class="header">

        <div class="header-wrap">

            <div class="logo plain logo-left">
                <div class="site-title">
                    <a href="index.html" title="Inicio">Centro de Atención a Foraneos</a>
                </div>
            </div>
            <!-- /logo -->


            <nav id="nav" role="navigation">
                <div class="table">
                    <div class="table-cell">
                        <ul id="menu-menu-1">
                            <li class="menu-item">
                                <a href="about.html">Padres</a></li>
                            <li class="menu-item">
                                <a href="#">Estudiantes</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="#">Inicia Sesión</a></li>
                                    <li class="menu-item">
                                        <a href="#">Servicios</a></li>
                                    <li class="menu-item">
                                        <a href="#">Vida Foranea</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#">Arrendador</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="contact.html">Contactanos</a></li>
                                </ul>
                            </li>
                            <li class="menu-inline menu-item">
                                <a title="Twitter" href="https://twitter.com/iestanahuac">
                                    <i class="fa fa-twitter"></i><span class="i">Twitter</span>
                                </a>
                            </li>
                            <li class="menu-inline menu-item">
                                <a title="Facebook" href="https://www.facebook.com/ADEFAIESTA">
                                    <i class="fa fa-facebook"></i><span class="i">Facebook</span>
                                </a>
                            </li>
                            <li class="menu-inline menu-item">
                                <a title="Instagram" href="https://www.instagram.com/adefatampico/">
                                    <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>

            <a href="#topsearch" class="search-trigger"><i class="fa fa-search"></i></a>

        </div>

    </header>


    <div class="wrap full-wrap">
        <div class="main-wrap">
            <section class="main main-archive">
                <h4 class="text-uppercase">RUTA LA ROLA MADERO-IEST</h4>
                <div class="loop">
                    <p>
                        La ruta de "LA ROLA" comienza a las 6:00A.M para llegar a las 7:00AM al IEST. Habrá corrida de esta ruta de acuerdo a la demanda para quienes entran a las 7:00 AM.
                    </p>
                    <iframe src="https://www.google.com/maps/d/embed?mid=1Ua9VicfT8IR-T6z4KABRRYWpiiDL0cY&ehbc=2E312F" width="640" height="480"></iframe>
                    <br>
                    <p>
                        Advertencia: Es completamente obligación del alumno estar en su respectiva parada con un minimo de 10 minutos de anticipación. El isntituto no se hace responsable de retrasos en el serivicio de transporte, objetos olvidados pérdidos dentro de las unidades.
                    </p>

                </div>
            </section>
        </div>
        <!-- /main-wrap -->
    </div>
    <!-- /wrap -->
    <br>

    <footer class="bg-primary text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h4 class="text-uppercase">Centro de Atención Estudiantil</h4>
                    <p>
                        <img src="AislinnyDelfin.jpeg " width=15% height=15% class="w-100" align="right" /> ¡Hola! Te habla Aislinn, tu nueva hermana mayor en el campus, coordinadora del Centro de Atención a Foráneos y tu nueva asesora en la universidad.
                    </p>
                    <p>
                        Nunca estarás solo (a), estamos contigo en todo momento en esta nueva etapa de la universidad, por eso mismo em encuentro muy emocionada de que me contactes y pueda apoyarte en todo lo necesario para tu acomodo. Sabemos perfectamente que no siempre es
                        fácil empezar una nueva etapa lejos de tu familia y lo que conoces, por eso ponemos a tu disposiicón doversas facilidades y servicios que encontraras en este sitio web</p>
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="background-color: rgba(rgb(253, 130, 30))" , width="100">
                    <h6 class="text-uppercase">CONTACTAME</h6>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="wa.link/i8bqyv" class="text-white">WhatsApp</a>
                        </li>
                        <li>
                            <a href="+52 1 833 204 2012" class="text-white">Telefono</a>
                        </li>
                        <li>
                            <a href="mailto: aislinn.lopez@iest.edu.mx" class="text-white">Correo</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <br>
                <divclass="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">HORARIOS</h5>
                    <p>
                        Puedes encontrarme en mi oficina de lunes a sábado de 08:00 a 13:00 y 14:00 a 17:00</p>

            </div>
        </div>
        <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div align="center " class="text-center p-3" style="background-color: rgba(224, 82, 16, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.anahuac.mx/iest/">IEST ANAHUAC</a>
        </div>
        <!-- Copyright -->
    </footer>

    <div id="topsearch">
        <div class="table">
            <div class="table-cell">
                <form role="search" method="get" class="searchform" action="index.html">
                    <div>
                        <input type="text" value="" name="s" class="s" placeholder="Type and hit enter" />
                        <input type="submit" class="searchsubmit" value="Search" />
                    </div>
                </form>
            </div>
        </div>
        <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
    </div>


    <script>
        var ie9 = false;
    </script>
    <!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>